<div class="container">
<h1>Currency convertor !</h1>

<button class="btn btn-primary" type="submit"(click)="getPosts()">1.Get a course!</button>

<table class="table table-bordered">
    <tr>
        <td>ccy</td>
        <td>buy</td>
        <td>sale</td>
        <td>base_ccy</td>
    </tr>
    <tr *ngFor="let post of posts |async">
        <td>{{post.ccy}}</td>
        <td>{{post.buy}}</td>
        <td>{{post.sale}}</td>
        <td>{{post.base_ccy}}</td>
    </tr>
</table>

<app-calc></app-calc>
