<div>
   
    <h3>Calculate!</h3>
    <div class="input-group mb-3">
        <span class="input-group-text">USD</span>
        <input type="number" placeholder="enter number" #firstnumber class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">.00</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">EUR</span>
        <input type="number" placeholder="enter number" #secondnumber class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">.00</span>
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">BTC</span>
        <input type="number" placeholder="enter number" #thirth class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">.00</span>
      </div>
    
    <br>
    <P></P><button (click)="Calculate(firstnumber.value, secondnumber.value, thirth.value)" >To count</button>
    <br>
    {{result}}
</div>

